body {
    margin: 0;
    padding: 0;
}

.container {
    padding: 150px;
    text-align: center;
}

form {
    background-color: #222222d7;
    border-radius: 6px;
    box-shadow: 0px 1px 10px rgba(255, 228, 196, 0.856);
    width: 80%;
    height: 40%;
    padding: 30px 40px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 0 0 5px 0;
    font-weight: bold;
}

input {
    border: 2px solid bisque;
    border-radius: 4px;
    width: 80%;
    margin: 0 0 15px 0;
    padding: 10px;
    color: bisque;
    background-color: #222222d7;
}

button {
    background: bisque;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    width: 80%;
    padding: 10px;
}

button:hover {
    background: #d3b792;
}

.signup {
    background: bisque;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    width: 100px;
    padding: 10px;
    margin-top: 15px;
}