.backGround {
   pointer-events: none;
   white-space: pre-wrap;
   position: absolute;
   top: 0;
   left: 0;
   color: grey;
   padding: 10px;
   font-size: 20px;
   border-radius: 10px;
   border: 2px solid black;
   resize: none;
   color: black;
   outline: none;
   font-family: Verdana;
   line-height: 1.2;
   box-sizing: border-box;
   }

.typingUser {
  position: relative;
  background: transparent;
  width: 100%;
  min-height: 120px;
  max-height: 200px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  line-height: 1.2;
  padding: 10px;
  resize: none;
  color: transparent;
  outline: none;
  font-family: Verdana;
  caret-color: rgb(15, 104, 131);
  overflow: visible;
  box-sizing: border-box;
  text-align: start;
}

.topContainer{
   text-align: center;
   font-family: cursive;
   font-size: x-large;
   color: bisque;

}

.container{
   display: flex;
   justify-content: center;
   width: 100%;
   padding: 0%;  
   font-family: Verdana;
   text-align: start;
   pointer-events: auto;
   box-sizing: border-box;
   margin-top: -08%;
}

   .timerShown{
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 88px;
      font-weight: bold;
      color: bisque;
      font-family: cursive;
   }

.WordsPERMiniute{
   display: flex;
   justify-content: center;
   font-family: cursive;
   color: bisque;
}

.correctOrIncorrect {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  white-space: pre-wrap;
  line-height: 1.2;
  font-size: 20px;
  font-family: Verdana;
  padding: 10px;
  box-sizing: border-box;
}

.incorrect{
   color: red;
   font-family: Verdana;
   font-size: 20px;   
}

.textLeftOver{
   color: grey;
}

.correct {
   color: beige;
} 

.backgroundColor{
   min-height: 100vh;
   background-color: #000000;
   background-size: auto;
   background-position: center;
   height: fit-content;
   background-repeat: no-repeat ;
}

.LeaderBoard{
   display: flex;
   justify-content: center;
   background-color: rgb(143, 138, 138);
   color: black;
   font-weight: bold;
   padding: 10px 24px;
   border-radius: 50px;
   margin: auto;
   width: 35%;
   
}

.logoutButton{
   display: flex;
   justify-content: center;
   background-color: rgb(143, 138, 138);
   color: black;
   font-weight: bold;
   padding: 10px 24px;
   border-radius: 50px;
   margin: auto;
   width: 35%;
}

   .scroll{
      position: relative;
      width: 100%;
      height: 250px;
      overflow-y: auto;
      border: 2px solid bisque;
      border-radius: 10px;
      padding: 10px;
      text-align: left;
   }

   .buttonforMusic{
      display: flex;
      justify-content: center;
      margin: 20px;
      text-align: center;
   }

   .startButton{
      background-color: bisque;
      color: black;
      font-weight: bold;
      padding: 15px 30px;
      border-radius: 67px;
      font-size: large;
      cursor: pointer;
   }

   .startButton:hover{
      background-color: rgb(255, 218, 185);
   }


   .accuracyWPM{
      display: grid;
      justify-content: center;
      font-family: cursive;
      margin-top: -5%;
      margin-bottom: 2%;
      text-align: center;
   }

   .invisible{
      color: transparent;
   }